/* Add a black background color to the top navigation */

.navbar {
    overflow: hidden;
    background-color: #333;
    // position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    border-radius: 13px;
}

.navbar p {
    float: top;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0px 0px;
    text-decoration: none;
    font-size: 17px;
}

.main {
    padding: 16px;
    margin-bottom: 30px;
    height: 1500px;
    /* Used in this example to enable scrolling */
}

body {
    background: #1152f5;
    margin: 0px !important;
}

section {
    border-radius: 20px;
    background: white;
    max-width: 100%;
    padding: 1em;
    overflow: auto;
    //    min-width: 30em;
    //    max-width: 50em;
    margin: auto;
    //    height: 100%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
    width: 1024px;
    border-radius: 13px;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {
        display: none;
    }
    .topnav a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
}

@media screen and (max-width: 600px) {
    .topnav {
        overflow: hidden;
        background-color: #333;
        width: 1024px;
        border-radius: 0px;
    }
    body {
        background: white; //lightgray;
    }
    section {
        border-radius: 0px;
        border: 2px solid #333;
        background: white;
        max-width: 100%;
        padding: 1em;
        overflow: auto;
        //    min-width: 30em;
        //    max-width: 50em;
        margin: auto;
        //    height: 100%;
    }
    .navbar {
        overflow: hidden;
        background-color: #333;
        // position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 0px;
    }
}

* {
    font-family: sans-serif;
}