<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Core Values</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <p>Instructions: The Core Values should be the lens through which you watch the teams presentations. All team members
    should be demonstrating the Core Values in everything they do. This rubric should be used to record the Core Values
    observed thoughout the judging session.</p><br><br>If the team is a candidate for one of these awards, please tick
  the appropriate box:         <ion-item>
    <ion-label>Breakthrough Award - A team that made significant progress in their confidence and capability and who
      understand that what they discover is more important than what they win</ion-label> <ion-checkbox
      id="Breakthrough" name="Breakthrough" color="primary"></ion-checkbox>
  </ion-item>        <ion-item>
    <ion-label>Rising All-Star - A team that the judges notice and expect great things from in the future</ion-label>
    <ion-checkbox id="Rising" name="Rising" color="primary"></ion-checkbox>
  </ion-item>   <ion-item>
    <ion-label>Motivate - A team that embraces the culture of FIRST LEGO League through team building, team spirit, and
      displayed enthusiam</ion-label>      <ion-checkbox id="Motivate" name="Motivate" color="primary"></ion-checkbox>
  </ion-item>
  <ion-grid>
    <ion-row>
      <ion-col bgcolor="#FDEAE3" class="rbtd" style="background-color: #FDEAE3;text-align: center;width:20%;">
        <b>Beginning</b><br>Minimal examples observed across the team<br>1</ion-col>
      <ion-col bgcolor="#FCCEBE" style="background-color: #FCCEBE;text-align: center;width:20%;" class="rbtd">
        <b>Developing</b><br>Some examples observes across the team<br>2</ion-col>
      <ion-col bgcolor="#F4AE94" class="rbtd" style="background-color: #F4AE94;text-align: center;width:20%;">
        <b>Accomplished</b><br>Multiple examples observed across the team<br>3</ion-col>
      <ion-col style="background-color: #EF8C6D;text-align: center;width:20%;" bgcolor="#EF8C6D" class="rbtd">
        <b>Exceeds</b><br>4</ion-col>
      <ion-col bgcolor="black" style="background-color:black;text-align:center;color:white!important">Explain how team
        exceeds</ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="rbtd"
        style="background-color: #FCD8CA;height:40px;border:1px solid black;color: black !important;" colspan="4"
        bgcolor="#FCD8CA">
        <div style="margin-left:5px;flex: 0 0 95%;"> Discovery - Team explored new skills and ideas. </div>
        <div style="text-align:right;color:red;flex:1;margin-right:5px;"> <b style="text-align:right; color:red"
            id="0Discovery">{{discovery}}</b> </div>
      </ion-col>
    </ion-row>
    <ion-radio-group [(ngModel)]="checkedtest">
      <ion-row class='rbbtns'>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[1]</ion-label>  <ion-radio (click)="rubricCalc('discovery',1)" slot="start"
              value="1" name="discovery" id="discovery1"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[2]</ion-label>  <ion-radio (click)="rubricCalc('discovery',2)" slot="start"
              value="2" name="discovery" id="discovery2"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[3]</ion-label>  <ion-radio (click)="rubricCalc('discovery',3)" slot="start"
              value="3" name="discovery" id="discovery3"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[4]</ion-label>  <ion-radio (click)="rubricCalc('discovery',4)" slot="start"
              value="4" name="discovery" id="discovery4"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" rowspan="1" style="border:1px solid black;">
          <ion-textarea class="rbitem" id="textdiscovery"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-row>
      <ion-col class="rbtd"
        style="background-color: #FCD8CA;height:40px;border:1px solid black;color: black !important;" colspan="4"
        bgcolor="#FCD8CA">
        <div style="margin-left:5px;flex: 0 0 95%;"> Innovation - Team used creativity and persistance to solve problems
        </div>
        <div style="text-align:right;color:red;flex:1;margin-right:5px;"> <b style="text-align:right; color:red"
            id="1Innovation">{{innovation}}</b> </div>
      </ion-col>
    </ion-row>
    <ion-radio-group>
      <ion-row class='rbbtns'>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[1]</ion-label>  <ion-radio (click)="rubricCalc('innovation',1)" slot="start"
              value="1" name="innovation" id="innovation1"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[2]</ion-label>  <ion-radio (click)="rubricCalc('innovation',2)" slot="start"
              value="2" name="innovation" id="innovation2"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[3]</ion-label>  <ion-radio (click)="rubricCalc('innovation',3)" slot="start"
              value="3" name="innovation" id="innovation3"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[4]</ion-label>  <ion-radio (click)="rubricCalc('innovation',4)" slot="start"
              value="4" name="innovation" id="innovation4"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" rowspan="1" style="border:1px solid black;">
          <ion-textarea class="rbitem" id="textinnovation"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-row>
      <ion-col class="rbtd"
        style="background-color: #FCD8CA;height:40px;border:1px solid black;color: black !important;" colspan="4"
        bgcolor="#FCD8CA">
        <div style="margin-left:5px;flex: 0 0 95%;"> Impact - Team applied what they learned to improve their world
        </div>
        <div style="text-align:right;color:red;flex:1;margin-right:5px;"> <b style="text-align:right; color:red"
            id="2Impact">{{impact}}</b> </div>
      </ion-col>
    </ion-row>
    <ion-radio-group>
      <ion-row class='rbbtns'>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[1]</ion-label>  <ion-radio (click)="rubricCalc('impact',1)" slot="start"
              value="1" name="impact" id="impact1"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[2]</ion-label>  <ion-radio (click)="rubricCalc('impact',2)" slot="start"
              value="2" name="impact" id="impact2"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[3]</ion-label>  <ion-radio (click)="rubricCalc('impact',3)" slot="start"
              value="3" name="impact" id="impact3"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[4]</ion-label>  <ion-radio (click)="rubricCalc('impact',4)" slot="start"
              value="4" name="impact" id="impact4"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" rowspan="1" style="border:1px solid black;">
          <ion-textarea class="rbitem" id="textimpact"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-row>
      <ion-col class="rbtd"
        style="background-color: #FCD8CA;height:40px;border:1px solid black;color: black !important;" colspan="4"
        bgcolor="#FCD8CA">
        <div style="margin-left:5px;flex: 0 0 95%;"> Inclusion - Team demonstrated respect and embraced their
          differences </div>
        <div style="text-align:right;color:red;flex:1;margin-right:5px;"> <b style="text-align:right; color:red"
            id="3Inclusion">{{inclusion}}</b> </div>
      </ion-col>
    </ion-row>
    <ion-radio-group>
      <ion-row class='rbbtns'>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[1]</ion-label>  <ion-radio (click)="rubricCalc('inclusion',1)" slot="start"
              value="1" name="inclusion" id="inclusion1"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[2]</ion-label>  <ion-radio (click)="rubricCalc('inclusion',2)" slot="start"
              value="2" name="inclusion" id="inclusion2"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[3]</ion-label>  <ion-radio (click)="rubricCalc('inclusion',3)" slot="start"
              value="3" name="inclusion" id="inclusion3"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[4]</ion-label>  <ion-radio (click)="rubricCalc('inclusion',4)" slot="start"
              value="4" name="inclusion" id="inclusion4"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" rowspan="1" style="border:1px solid black;">
          <ion-textarea class="rbitem" id="textinclusion"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-row>
      <ion-col class="rbtd"
        style="background-color: #FCD8CA;height:40px;border:1px solid black;color: black !important;" colspan="4"
        bgcolor="#FCD8CA">
        <div style="margin-left:5px;flex: 0 0 95%;"> Teamwork - Team clearly showed that the had worked as a team
          throughout their journey </div>
        <div style="text-align:right;color:red;flex:1;margin-right:5px;"> <b style="text-align:right; color:red"
            id="4Teamwork">{{teamwork}}</b> </div>
      </ion-col>
    </ion-row>
    <ion-radio-group>
      <ion-row class='rbbtns'>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[1]</ion-label>  <ion-radio (click)="rubricCalc('teamwork',1)" slot="start"
              value="1" name="teamwork" id="teamwork1"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[2]</ion-label>  <ion-radio (click)="rubricCalc('teamwork',2)" slot="start"
              value="2" name="teamwork" id="teamwork2"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[3]</ion-label>  <ion-radio (click)="rubricCalc('teamwork',3)" slot="start"
              value="3" name="teamwork" id="teamwork3"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[4]</ion-label>  <ion-radio (click)="rubricCalc('teamwork',4)" slot="start"
              value="4" name="teamwork" id="teamwork4"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" rowspan="1" style="border:1px solid black;">
          <ion-textarea class="rbitem" id="textteamwork"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-row>
      <ion-col class="rbtd"
        style="background-color: #FCD8CA;height:40px;border:1px solid black;color: black !important;" colspan="4"
        bgcolor="#FCD8CA">
        <div style="margin-left:5px;flex: 0 0 95%;"> Fun - Teams clearly had fun and celebrated what they had achieved
        </div>
        <div style="text-align:right;color:red;flex:1;margin-right:5px;"> <b style="text-align:right; color:red"
            id="5Fun">{{fun}}</b> </div>
      </ion-col>
    </ion-row>
    <ion-radio-group>
      <ion-row class='rbbtns'>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[1]</ion-label>  <ion-radio (click)="rubricCalc('fun',1)" slot="start" value="1"
              name="fun" id="fun1"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[2]</ion-label>  <ion-radio (click)="rubricCalc('fun',2)" slot="start" value="2"
              name="fun" id="fun2"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[3]</ion-label>  <ion-radio (click)="rubricCalc('fun',3)" slot="start" value="3"
              name="fun" id="fun3"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" style="text-align:center;align-items:center;border:1px solid black;">    <ion-item>
            <ion-label class="cvitem">[4]</ion-label>  <ion-radio (click)="rubricCalc('fun',4)" slot="start" value="4"
              name="fun" id="fun4"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col class="rbtd" rowspan="1" style="border:1px solid black;">
          <ion-textarea class="rbitem" id="textfun"></ion-textarea>
        </ion-col>
      </ion-row>
    </ion-radio-group>
    <ion-row>
      <ion-col style="text-align:center;" colspan="4"><b><br>Feedback Comments</b></ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="text-align:center;" colspan="2">Great Job:</ion-col>
      <ion-col style="text-align:center;" colspan="2">Think about:</ion-col>
    </ion-row>
    <ion-row>
      <ion-col colspan=2>
        <ion-textarea rows="15" class="rbitem" id="textcoreValues1"></ion-textarea>
      </ion-col>
      <ion-col colspan=2>
        <ion-textarea rows="15" class="rbitem" id="textcoreValues2"></ion-textarea>
      </ion-col>
    </ion-row>
  </ion-grid>Total Points: <b style='color:red;' id='cvpts'>{{0+discovery+innovation+impact+inclusion+teamwork+fun}}</b>

</ion-content>